*{
	overflow: hidden;
	border: none;
	padding: 0px;
	margin: 0px;
	top: 0;
	left: 0;
}
div{
	position: absolute;
}

video{
	position: relative;
	top: 0;
}

video::-webkit-media-controls {
  display:none !important;
}

line{
	stroke-linecap: butt;
}

body{
	background-color: #191b21;
}

path{
	fill-opacity: 0;
	stroke-width: 2;
	stroke-opacity: 0.5;
}



#players rect{
	cursor: pointer;
	fill-opacity: 0;
	stroke-width: 2px;
	stroke-linejoin: round; 
	/*stroke-opacity: 0.1;*/
}

#players .hover{
	stroke-opacity: 0.9;
}

#players .default{
	stroke-opacity: 0.3;
}

#players .default path{
	stroke-opacity: 0;
}

#players .selected{
	stroke-opacity: 1;
}

#players .conflicted rect{
	stroke: #7a7374;
	cursor: not-allowed;
}

#players .conflicted path{
	stroke-opacity: 0;
}

#controls rect{
	stroke-width: 0;
}

.progress_bar{
    stroke: #7c7c7c ;
    stroke-width: 0.6em;
    /*fill-opacity:0;*/
    stroke-linejoin:round;
    stroke-linecap:round;
}

.progress_bar .watched{
    stroke: #c1c1c1;
}

#controls .text{
    fill: white;
    font-size: 16pt;
    fill-opacity: 0.9;
}

.button{
    cursor: pointer;
}





#ws_bg rect{
	/*fill: aqua;*/
	/*fill: #7a7374;*/
	fill: #191b21;
	/*fill: white;*/
	/*stroke: #191b21;*/
	stroke: #1ba784;
	stroke-width: 2;
	stroke-linejoin: round;
}

#ws_bg line{
	stroke: #1ba784;
	stroke-width: 2;
}

#seperation{
	stroke: aqua;
}

#current{
	stroke-dasharray: 5,5 ;
}

