*{
	overflow: hidden;
	border: none;
	padding: 0px;
	margin: 0px;
	top: 0;
	left: 0;
}
div{
	position: absolute;
}

video{
	position: relative;
	top: 0;
}
video::-webkit-media-controls {
  display:none !important;
}
#controls rect{
	stroke-width: 0;
}

.progress_bar{
    stroke: #7c7c7c ;
    stroke-width: 0.6em;
    /*fill-opacity:0;*/
    stroke-linejoin:round;
    stroke-linecap:round;
}

.progress_bar .watched{
    stroke: #c1c1c1;
}

#controls .text{
    fill: white;
    font-size: 16pt;
    fill-opacity: 0.9;
}

.button{
    cursor: pointer;
}
