*{
	overflow: hidden;
	border: none;
	padding: 0px;
	margin: 0px;
	top: 0;
	left: 0;
}

text{
	cursor: default;
	user-select:none;
}

body{
	background: url(/resources/PosFlow/img/bg.png) no-repeat;
	background-size: 100%;
}
div{
	position: absolute;
}

video{
	position: relative;
	top: 0;
}

video::-webkit-media-controls {
  display:none !important;
}

line{
	stroke-linecap: butt;
}

body{
	background-color: #191b21;
}

path{
	fill-opacity: 0;
	stroke-width: 2;
	stroke-opacity: 0.5;
}

path.conflicted{
	cursor: default;
	stroke-opacity: 0;
}

.selected{
	stroke-opacity: 1;
}

.default{
	stroke-opacity: 0.5;
	fill-opacity: 0.5;
}

#players rect{
	cursor: pointer;
	fill-opacity: 0;
	stroke-width: 2px;
	stroke-linejoin: round; 
	/*stroke-opacity: 0.1;*/
}

#players rect.conflicted {
	cursor: not-allowed;
}
.hover{
	stroke-opacity: 1;
}

#controls rect{
	stroke-width: 0;
}

.progress_bar{
    stroke: #7c7c7c ;
    stroke-width: 0.6em;
    /*fill-opacity:0;*/
    stroke-linejoin:round;
    stroke-linecap:round;
}

.progress_bar .watched{
    stroke: #c1c1c1;
}

#controls .text{
    fill: white;
    font-size: 16pt;
    fill-opacity: 0.9;
}


.button{
    cursor: pointer;
}

#ws_content line{
	cursor: pointer;
}

#ws_content line.conflicted{
	cursor: not-allowed;
}

#ws_bg rect{
	/*fill: aqua;*/
	/*fill: #7a7374;*/
	fill: #191b21;
	/*fill: white;*/
	/*stroke: #191b21;*/
	stroke: #1ba784;
	stroke-width: 2;
	stroke-linejoin: round;
}

#ws_bg line{
	stroke: #1ba784;
	stroke-width: 2;
	cursor: pointer;
}

#seperation{
	stroke: aqua;
}

#current{
	stroke-dasharray: 5,5 ;
}

#ws_ba image.wsbutton{
	opacity: 0.5;
}

#ws_ba image.enable{
	opacity: 0.9;
}

#birdseye image{
	opacity: 0.3;
}

.birdseye_circle{
	cursor: pointer;
}

.birdseye_circle.conflicted{
	cursor: not-allowed;
}

.birdseye_circle.dashed{
	fill-opacity: 0;
}

#wsbutton-1{
	cursor: not-allowed;
}

#wsbutton-1.enable{
	cursor: pointer;
}

#wsbutton-2{
	cursor: not-allowed;
}

#wsbutton-2.enable{
	cursor: pointer;
}
